[2020-03-14 22:08] Makosak opened #1 "Grab county-level shapes for country"

[2020-03-14 22:10] Makosak opened #2 "CSV-county merging"
The CSV file we're getting likely just has state name and county name. We will need to merge this with the GIS shapefiles. Note that county names are not unique, but state + county names are unique. Need to identify someone to take this merging issue on as we'll like be merging on a daily basis.

[2020-03-14 22:14] Makosak opened #3 "For Discussion: Visualization Protocol"
Multiple options for daily visualizations:
- Mapbox
- Rshiny
- Leaflet/JS
- Py + vis interface

Things to consider:
- Should have county-level visualizations enabled, fixed at most recent update
- Pop-ups, interaction (click to get more info)
- Temporal slider (maybe more important than animation?)
- Interaction/linking/brushing? May be nice to have but potentially not priority

[2020-03-14 22:16] Makosak opened #4 "Secure county-level data"
Reach out to 1point3acres crowdsourcing group to see if we can get access to daily county-level CSVs.

[2020-03-14 22:17] Makosak commented on #4
In progress. Lead agreed but waiting on CSV sharing protocol. We must agree to cite the data accordingly: "If I cite numbers from this site, how should I credit the source?
"1Point3Acres.com" with an HTML link to this site. The link must be clickable and without "nofollow" tag. For non-electronic publication, please include the site url."

[2020-03-14 22:20] Makosak opened #5 "For Discussion: Unassigned county cases"
Several cases in the county-level dataset we'll be getting will be listed as "unassigned." These are usually updated within a day or two to the right county, but it seems that some states are better about this than others. Something to think about and discuss. What will our protocol be?

[2020-03-14 22:32] Makosak commented on #3
Similar to political mapping -- we may also want to consider using cartograms to highlight population proportions at county level. Maybe clicking to actual boundaries <-> cartogram?

[2020-03-15 14:33] linqinyu commented on #5
How about every time we update we check any changes on previous "unassigned" cases? Any more efficient ways to do this?

[2020-03-15 18:35] linqinyu commented on #3
I think it is important to have the temporal slider for each county. I do not see the need for interaction/linking/brushing for now?
Another side note to keep in mind: we should use language as "as of today X cases have been reported in XXX" rather than "there are now X number of cases in XXX".

[2020-03-15 20:32] linqinyu commented on #1
I tested an R package named "USAboundariesData". It worked. If we decide to go with R, I can add the code and shape file to github.

[2020-03-15 20:43] lanselin commented on #1
make sure the county boundaries are compatible with the data. the boundary files change
over time and the boundaries in this package may not be up to date and/or not fully compatible
with the county list for the data. we have a few different county boundary files in the geoda sample
data.

L.

[2020-03-15 21:11] Makosak commented on #3
@lixun910 would it be possible to do a customized web application using web-geoda? Or should we go another route (R, javascript, mapbox, etc) -- let's see what's doable in process-of-elimination...

[2020-03-15 23:23] linqinyu commented on #1
Hi Luc,

Thanks for the suggestions!

I tried two packages ("tigris" and "USAboundariesData"). I compared both of their national county shapefiles (claimed to be "current version"). They have the same total number of counties and when plotting them together I did not see major differences.

However, when I went to the official census bureau website and looked at the changes of counties over time (

[2020-03-16 00:01] Makosak commented on #4
Update from the group -- they're actively updating their API and should be released soon.

[2020-03-16 00:03] Makosak commented on #1
Sounds good! You can add the county boundaries for current year to the repo here then, in a new data folder.

[2020-03-16 00:16] lixun910 commented on #3
Yes, can you share with me the geojson file, and the api.

[2020-03-16 00:45] Makosak commented on #3
The API for county-data isn't available yet (hopefully tomorrow), but I just added a states geosjon to repo, and could you use this state data (positive cases) to test? I haven't id'd a quick way to pull this out with the Spreadhsheets API but just started trying: https://docs.google.com/spreadsheets/d/e/2PACX-1vRwAqp96T9sYYq2-i7Tj0pvTf6XVHjDSMIKBdZHXiCGGdNC0ypEU9NbngS8mxea55JuCFuua1MUeOj5/pubhtml

[2020-03-16 02:22] JamesSaxon opened #6 "Empirical Networks"
Two successive rough questions:

1. Can we show that empirical mobility patterns are better predictors of transmission than simple spatial proximity?
2. Can we measure the response on the empirical network, to understand how that affects transmission --
  a. How has the network structure changed (presumably, a LOT).
  b. Do current (post-quarantine) networks predict loads better than status-quo ne

[2020-03-16 04:33] linqinyu commented on #3
Several thoughts:
(1) A model map could be something like this:  (https://www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html). But more analysis + interactive.
(2) The interaction/brushing could be between a particular state and the whole US.
(3) The number of all testing cases at the state level should be included. Saw the data from the project called the "COVID Tracking Project". Data

[2020-03-16 04:42] linqinyu commented on #6
I have been thinking about this to study what has happened in China two weeks ago! I would be very excited if we can look into some causal analysis regarding how the virus got spread and how different types of interventions (e.g., different tastes of lockdown) reduce the spread.
A few very rough thoughts:
1. Cancellation of flights will change the way of spreading. We can track the policies regard

[2020-03-16 16:50] Makosak commented on #4
Received API info for US and Canada, 50 requests per 24 hours allowed (so we could do hourly updates if needed).

[2020-03-16 16:50] #4 closed

[2020-03-16 21:56] linqinyu commented on #1
Both gpkg and geojson files have been uploaded! Two notes:
1. all counties in the US are included, not only the Lower 48.
2. 5 changes after 2010 are not included.

[2020-03-16 23:34] #1 closed

[2020-03-17 21:00] Sihan-Mao commented on #3
Just ran the hourly_update.py and seems like the API is giving data 2 days behind (latest is March 15th)?

[2020-03-17 21:36] lixun910 commented on #3
Yes, I can confirm that too. Marynia, can you check with the coordinator from 1point3acres.com?

Xun Li, Ph.D.

Assistant Director of Data Science
Center for Spatial Data Science
University of Chicago

[2020-03-17 23:44] Makosak commented on #3
just sent a note, waiting on response

[2020-03-18 04:24] lixun910 commented on #3
I am working on a  simpler version UI:
<img width="1670" alt="Screen Shot 2020-03-17 at 9 23 24 PM" src="https://user-images.githubusercontent.com/2423887/76925132-a40db900-6895-11ea-81d6-abf2908c6fa8.png">

[2020-03-18 19:03] lixun910 opened #7 "population data"
Does anyone have the latest population data for states and counties?

[2020-03-18 19:35] lixun910 commented on #3
The new simple UI code is now at https://github.com/GeoDaCenter/covid/blob/master/docs/index.html
Here are some features:
1. One can switch between "By State" and "By County"
2. One can hover the map to get a pop-up window to display some numbers
3. One can left click on the map to update the line chart

I am still working on:
1. Get different color scheme for state and county
2. Different data bu

[2020-03-18 19:35] lixun910 commented on #3
btw: the url to access this page: https://geodacenter.github.io/covid/

[2020-03-18 20:20] linqinyu commented on #3
Hi Xun,

I am getting the population data at the county level. I will let you know once I get it and upload it!

Best wishes,
Qinyun

________________________________
From: Xun Li <notifications@github.com>
Sent: Wednesday, March 18, 2020 2:35 PM
To: GeoDaCenter/covid <covid@noreply.github.com>
Cc: Qinyun Lin <qinyunlin@uchicago.edu>; Comment <comment@noreply.github.com>
Subject: Re: [GeoDaCenter/

[2020-03-18 20:42] lixun910 commented on #3
Great! Thanks!

Xun Li, Ph.D.

Assistant Director of Data Science
Center for Spatial Data Science
University of Chicago

[2020-03-18 21:10] linqinyu commented on #7
I just upload the county population: county_pop.csv (based on ACS 2018), in the data folder. Five variables are included for each county: total population, male, female, male above age 50, female above age 50. I thought we might create some indicator for something like population at risk? Based on 1point3acres (probably other references can be found as well), the median age is 49 that is why I cho

[2020-03-18 21:22] lanselin commented on #7
There is some evidence from Europe that young people are affected as well and are just as much
at risk as older ones, so that would argue against a cut-off at 50.

[2020-03-18 21:30] linqinyu commented on #3
Just uploaded the county population data: county_pop.csv in the data folder, including total population, population by gender, and 50 and above by gender. I think we may create some at-risk population indicators.

It seems that merging has some problems. For example, three "King" counties have the same number of cases. Let me know if I can help with the merge. In the "county_2018" in the data fold

[2020-03-18 21:40] lixun910 commented on #3
Got it. Thank you, Qinyun!

Yes, all comments can be addressed.

From: Qinyun Lin <notifications@github.com>
Reply-To: GeoDaCenter/covid <reply@reply.github.com>
Date: Wednesday, March 18, 2020 at 2:31 PM
To: GeoDaCenter/covid <covid@noreply.github.com>
Cc: Xun Li <lixun910@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [GeoDaCenter/covid] For Discussion: Visualization Protocol (#3)

[2020-03-18 22:16] linqinyu commented on #7
Got it! Then we can just use the total population.
________________________________
From: Luc Anselin <notifications@github.com>
Sent: Wednesday, March 18, 2020 4:22 PM
To: GeoDaCenter/covid <covid@noreply.github.com>
Cc: Qinyun Lin <qinyunlin@uchicago.edu>; Comment <comment@noreply.github.com>
Subject: Re: [GeoDaCenter/covid] population data (#7)

There is some evidence from Europe that young peo

[2020-03-18 23:51] Sihan-Mao commented on #7
Added another county level population estimates (2018) with gender and age groups from Census Bureau. https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?pid=PEP_2018_PEPAGESEX&prodType=table

[2020-03-19 00:33] linqinyu commented on #7
Thanks! I used the 2014-2018 5-year ACS (more reliable but less current). I think you used the 2018 1-year estimate (more current but less reliable). I guess the results should not be too different? But if we want to emphasize "most current", I agree that we should go with the 2018 1-year estimate.
________________________________
From: Sihan-Mao <notifications@github.com>
Sent: Wednesday, March 1

[2020-03-19 00:49] lanselin commented on #7
I would suggest to go with the five year average since the one year samples are notoriously poor at small spatial scales, even though they are more recent.

[2020-03-19 16:42] linqinyu commented on #3
Just learned that 1point3acres added testing locations to their data!
Two related data sources for that:
(1)  This includes all current testing locations, with addresses. Not sure how difficult to geocode them and then add these to the map. But I think it will be super helpful if we can do this.
(2) https://covidtracking.com/. Testing cases (positive, negative, pending) at the state level. We can

[2020-03-19 16:49] Makosak commented on #3
This is great! Yes we could definitely geocode. The location data is not
great and will require some work to geocode (address isn't shown in most
cases so we'd have to dig in for each one) but that could be added to our
data validation tasks for RAs.

Sounds good for testing viz, too. Xun, that will be a visualization/UI
challenge for you then?

On Thu, Mar 19, 2020 at 11:42 AM Qinyun Lin <notific

[2020-03-19 16:51] linqinyu commented on #3
Oops, here is the link for the spreadsheet that includes all testing places (the point (1) I mentioned): https://docs.google.com/spreadsheets/d/1svnaZ2UG_ryFr8jjqVx7ZVZksBue4EQUJ4dolMDJx70/edit#gid=0.

[2020-03-19 20:32] Makosak opened #8 "Testing locations"
We need someone to start reviewing the spreadsheet linked here and create a pilot testing location dataset that Xun could add as a layer to the map. We need to:

- copy this info over to new spreadsheet. We could use the "IMPORTRANGE" function in Google Spreadsheets to update automatically.
- generate new column -- address that is in formatting for the RCC Geocoder at Uchicago
- geocode the data u

[2020-03-19 20:37] Makosak commented on #3
So collectively we've determined that the GeoDa web viz works here! Closing protocol for now so we can start divvying up tasks.

[2020-03-19 20:37] #3 closed

[2020-03-19 20:38] Makosak commented on #7
Agreed, let's stick to 5-year estimates for better reliabiity.

[2020-03-19 20:42] Makosak commented on #2
We need to ID someone who wants to lead this -- @linqinyu  has some initial information on merging so far.

Current plan: merge with combination state + county string

Current issues: @linqinyu can you list here?

[2020-03-19 20:49] Makosak opened #9 "Daily county 1P3A update"
We need a volunteer lead to start updating the county case file we have from 1P3A and help determine a more efficient protocol/workflow process. Things to consider:
- API seems to be ~2 days behind, but we need to track changes more efficiently.
- update with new daily numbers as of 9am CST (or some better time?)
- check if total assigned county cases (+ unassigned) equal total confirmed state cas

[2020-03-19 21:02] Makosak commented on #8
okay to split this into 2 issues if multiple people interested --- one person can focus on geocoding testing locations in the current version, another person can focus on updating/workflow protocol.

[2020-03-19 21:05] Makosak opened #10 "quarantine policy database generation"
How states react with quarantine over time may be of interest as both a visualization, and for future research. We will collect and visualize state-wide data on quarantine policies in the US. This would be updated and validated on a weekly basis.

Need to ID someone who is interested in starting this collection in a google spreadsheet. You can use the the appropriate state name/id from the states.

[2020-03-19 21:11] linqinyu commented on #2
Sure! The current issue is that two counties from different states can have the same name. For example, one King county from WA, another King county from TX. We need to create a unique ID based on both State name and County name.  Otherwise, the data will be incorrect.

[2020-03-19 21:52] linqinyu commented on #9
A small note for crosschecking: the # of total confirmed cases today should be larger or equal to that of yesterday, at each county and state level.

[2020-03-19 21:54] linqinyu commented on #7
Sounds good. The 5-year estimate (2014-2018) population data is available as "county_pop.csv" in the data folder. We can use the total population for now (the column named as "total_population".)

[2020-03-19 21:56] Makosak commented on #7
Perfect -- @lixun910 let us know if you need anything else, otherwise closing this.

[2020-03-19 21:56] #7 closed

[2020-03-19 22:38] linqinyu commented on #10
How about something like this: https://docs.google.com/spreadsheets/d/1qhI-8nEaSZnp_2rN7Wtg456P0EUreft9d6yyKhEANa8/edit?usp=sharing. Feel free to make edits!

When I tried to set up a spreadsheet for this, it occurred to me that some policies are at a county level. For example, several California counties have issued ‘shelter in place’. So I added the county level. But I think there would be polic

[2020-03-19 23:16] bibindvasu commented on #10
New York City has made announcements of deploying 1000 bed hosptial ship. Would such announcements be eligible to be added to the spreadsheet? @linqinyu the spreadsheet is in view mode currently. It can't be edited.

[2020-03-19 23:16] lixun910 commented on #2
@linqinyu The python script has been updated to using the county_name+state_abbr as ID. Can you help to check if the results are correct?  see tools/counties_update.geojson

[2020-03-19 23:24] lixun910 commented on #2
@linqinyu Which file should I use to get the population data: data/county_pop.csv or data/county_pop_gender_age_2018.csv ?

[2020-03-19 23:27] lanselin commented on #2
county_pop.csv is the five year average, that’s the one to use

[2020-03-19 23:31] linqinyu commented on #2
Yes, that's right, thanks, Luc!

I also quickly checked the counties_update.geojson. It looks right to me! (I looked at counties with the same name but from different states and they do have different counts. So I think the merging is right!)
________________________________
From: Luc Anselin <notifications@github.com>
Sent: Thursday, March 19, 2020 6:27 PM
To: GeoDaCenter/covid <covid@noreply.git

[2020-03-19 23:39] linqinyu commented on #10
Thanks!
I am not sure how these beds will be used? It may not belong to "quarantine" but I think it is good to include in the data collection for now. I also changed the spreadsheet to be editable. Let me know if it doesn't work!

[2020-03-19 23:49] bibindvasu commented on #10
The spreadsheet is editable. I will start updating it. Thanks.

[2020-03-19 23:56] linqinyu commented on #10
Great! Thanks!

[2020-03-19 23:57] lixun910 commented on #2
Great. Thanks, Qinyun! Thanks, Luc!

[2020-03-20 18:41] Sihan-Mao commented on #2
The merge looks good to me too. Checked Washington and Jefferson Counties and they match the records on the website. Thanks @lixun910, @linqinyu and @lanselin!

[2020-03-20 18:48] Sihan-Mao commented on #9
Cron jobs might be a good way to trigger this workflow where the application is hosted. @Makosak Will 1point3acres provide real-time data in the future rather than lagging 2 days?

[2020-03-20 19:12] Sihan-Mao commented on #9
or a cloud solution like google cloud composer instead of on-premises

[2020-03-21 18:52] Makosak commented on #2
okay, closing! Thanks guys.

[2020-03-21 18:52] #2 closed

[2020-03-23 19:32] Makosak commented on #9
It looks like 1P3A will not be updating beyond 2 days; we haven't heard back from them, and I imagine the 2-day window gives them extra time to validate.

The UW-Madison we've connected with have software engineers and grad students who can also help with this, as well as cross-validating with another county-level data source they're pulling.

Automated priority: ID discrepancies for human editors

[2020-03-23 19:33] Makosak commented on #5
Right now, goal will be to keep unassigned in separate category for each state. This would get reviewed weekly --> moving to validation check in separate issue.

[2020-03-23 19:33] #5 closed

[2020-03-23 19:34] Makosak commented on #10
Updating this to a GOOD FIRST ISSUE for new volunteers. Please update the doc above with new policies.

[2020-03-23 19:40] Makosak opened #11 "Need Volunteers: State Health Department COVID Case Overview"
Calling volunteers! We need help updating a document to identify how, and at what scale, each state health department is recording confirmed cases, testing (ie. negative cases), and deaths. This will be essential to help confirm county-cases on a daily level, and identify what will be automated vs what will require human editors.

https://docs.google.com/spreadsheets/d/1b3ElJC8AnwnYfBupBmoJEZJ8D53

[2020-03-23 21:18] lixun910 opened #12 "data: testing numbers, hospital beds by county"
Who can help to crawl this website?

https://covid-19.direct/county/AZ/Maricopa

[2020-03-23 23:50] linqinyu commented on #9
Proposed protocol for data checking:
(1) check whether the state data are consistent with the state health departments
(2) (automatically) check whether the county # of cases sum up to the state # of cases, list the states where this number doesn't match
(3) for the states in the list of step 2, check the county # of cases between 1P3A (where you can find each data source) and state health departm

[2020-03-24 00:04] linqinyu commented on #8
This is their working excel: https://docs.google.com/spreadsheets/d/1cnvNjWRxqE_WHSekbM9mC9OtSSx5Jws4Ngot3N-NE5s/edit#gid=0. I have added a comment asking whether it is OK/desirable to add two columns for latitude and longitude.

[2020-03-24 02:22] lixun910 commented on #12
get hospital information from:
https://www.arcgis.com/apps/opsdashboard/index.html#/8c4dcccd9e3845eb89f6401f919007f2

[2020-03-24 16:25] linqinyu commented on #9
Meeting on 3/24:
Before going into deep validation, we will start from cross-checking three datasets:
- 1P3A
- USAfacts: https://usafacts.org/visualizations/coronavirus-covid-19-spread-map/?utm_source=MailChimp&utm_campaign=census-covid2.
- Corona Data Scraper link: https://coronadatascraper.com/#home.
For each county at each timestamp, generate indicators for how different the three data sources

[2020-03-26 04:13] lixun910 opened #13 "add differential lisa for day-to-day change of cases"

[2020-03-26 15:47] JohnWSteill commented on #9
Working in county_validation directory, I tossed up some function scaffolding with comments.

* To keep it from getting too busy in master, I created a branch countyV to work on this.
* I Realize focus has shifted a bit: validate on aggregators first,  and revisiting local pages later, the main() doesn't quite reflect that yet.

Quinyun, would you like to specify the validation_out.csv a little bi

[2020-03-26 16:06] linqinyu commented on #9
Sure! How about something like this:

  *   All match: 0
  *   1P3A is different from the other two, the other two match with each other: 1
  *   USAFacts is different from the other two, the other two match with each other: 2
  *   Coronascraper is different from the other two, the other two match with each other: 3
  *   All different: 4

Suggestions are welcome!

_______________________________

[2020-03-26 17:24] jkoschinsky opened #14 "include neighbors of cluster cores in map app"
include neighbors of cluster cores in map app since explaining to people what a cluster core is might be confusing vs just visualizing the whole cluster.

[2020-03-26 18:14] jkoschinsky opened #15 "space out dates in histogram x-axis more, so they're more legible"

[2020-03-26 18:15] jkoschinsky opened #16 "add CSDS logo and "powered by GeoDa" with 2 URLs to map app"
2 URLs:
https://geodacenter.github.io/
https://spatial.uchicago.edu/

2 logo options:
![CSDS_UniversityWordmark_Gray](https://user-images.githubusercontent.com/13679743/77681775-dd17ee80-6f63-11ea-8344-156ec1991bce.png)
![CSDS_UniversityWordmark_Maroon202](https://user-images.githubusercontent.com/13679743/77681784-e0ab7580-6f63-11ea-83a2-56f3f497c7fa.png)

[2020-03-26 18:40] JohnWSteill commented on #9
Sounds great. Easy to change.

[2020-03-26 19:03] lixun910 commented on #16
The map app will be embedded on the landing page, so the log will be added to the landing page.

[2020-03-26 19:21] Makosak commented on #16
I just added to the atlas app too under the data source note -- got this one done! will push in a little bit.

[2020-03-26 19:40] Makosak commented on #16
Added a new page **atlas.html** that has these updates. Xun you can view: https://github.com/GeoDaCenter/covid/blob/master/docs/atlas.html

This is a replica of the existing index.html but with a few minor edits to the legend, including logo here. Once we flip to the new landing page, could source the atlas.html file for the iframe instead.

[2020-03-26 19:51] jkoschinsky commented on #15
same with y-axis: only list every 2nd label?

[2020-03-26 19:52] jkoschinsky opened #17 "set start date for new cases (both charts) to late Feb to focus more on the increase?"

[2020-03-26 19:53] Makosak commented on #16
okay, it's now rendered for viewing -- closing comment.
file:///Users/maryniakolak/Documents/covid/docs/atlas.html

[2020-03-26 19:53] #16 closed

[2020-03-26 20:11] jkoschinsky opened #18 "since county is focus, make county default map and switch to left and put state on right?"

[2020-03-26 20:12] jkoschinsky opened #19 "add averages for LISAs (see email thread)"

[2020-03-26 20:49] Makosak commented on #10
Closing in favor of other issues here -- other work is doing this already: https://www.nlc.org/program-initiative/covid-19-local-action-tracker

[2020-03-26 20:49] #10 closed

[2020-03-26 21:07] bibindvasu commented on #11
There are tested cases in many states and the data is listed county wise. But they. may not be hospitalized. Do we need to capture the testing data too.

[2020-03-26 21:33] Makosak opened #20 "Update Zoom Feature"
Marked as a priority from health user testing group, as some are having difficulty zooming both in raw atlas, and within the landing page.

[2020-03-26 21:36] Makosak opened #21 "More Design Requests from Health User Testing Group"
Including these as feature requests/enhancements. Xun feel free to take 'em all on or divvy up.

[2020-03-26 21:37] Makosak commented on #18
I kind of like the state map better instead to start with -- it serves as a validation for what others are seeing, and better for landing page?

[2020-03-26 21:38] Makosak commented on #15
similar to user group feedback

[2020-03-26 21:38] jkoschinsky commented on #18
ok, your call

Julia Koschinsky, Ph.D.
Executive Director
Center for Spatial Data Science
University of Chicago
https://spatial.uchicago.edu/

<https://spatial-data-science-conference.com/>
________________________________
From: Marynia <notifications@github.com>
Sent: Thursday, March 26, 2020 4:38 PM
To: GeoDaCenter/covid <covid@noreply.github.com>
Cc: Julia Koschinsky <jkoschinsky@uchicago.edu>;

[2020-03-26 21:41] Makosak commented on #14
i'm not sure if this would be helpful vs the clusters as they are now -- can be confusing in either case, and multiple counties already show up in the clusters? I'm just nervous that switching that will be pretty dramatic and may change the results/make comparisons difficult in future weeks? If we didn't just publish the research brief with results, etc, would be more open to it. other thoughts?

[2020-03-26 21:42] Makosak commented on #13
we can add this to the list of potential indicators for meeting with health group next week. challenge will be: is this easily understood/interpretable/useful for a non-spatial-data-science audience?

[2020-03-26 21:44] Makosak commented on #12
Another data resource: A map of hospital capacities, including staffed all beds, ICU beds, and occupancies at the hospital level: https://www.covidcaremap.org/maps/us-healthcare-system-capacity/#3.85/38.63/-93.09.

[2020-03-26 21:44] lixun910 commented on #13
One interpretation is: is there any spatial clusters of daily new cases.

From: Marynia <notifications@github.com>
Reply-To: GeoDaCenter/covid <reply@reply.github.com>
Date: Thursday, March 26, 2020 at 2:42 PM
To: GeoDaCenter/covid <covid@noreply.github.com>
Cc: Xun Li <lixun910@gmail.com>, Assign <assign@noreply.github.com>
Subject: Re: [GeoDaCenter/covid] add differential lisa for day-to-day cha

[2020-03-26 21:47] lixun910 commented on #21
Yep, can I work on the intro.html now?

From: Marynia <notifications@github.com>
Reply-To: GeoDaCenter/covid <reply@reply.github.com>
Date: Thursday, March 26, 2020 at 2:37 PM
To: GeoDaCenter/covid <covid@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [GeoDaCenter/covid] More Design Requests from Health User Testing Group (#21)

Including these as feature requests/enha

[2020-03-26 21:52] Makosak commented on #18
@lixun910 what about this as landing -- switching back to states (as this will match what folks are viewing at JHU, 1P3A, others) but make the center of the map slightly off-center so it's positioned like so? The center of the map will not be the center of the US, but more around Tennessee, so it's to the left of the toolbar.

![Screen Shot 2020-03-26 at 4 48 56 PM](https://user-images.githubuserc

[2020-03-26 22:02] lixun910 commented on #18
Sure.

FYI, the zoom doesn’t work for now – the deck.gl document is not clear

From: Marynia <notifications@github.com>
Reply-To: GeoDaCenter/covid <reply@reply.github.com>
Date: Thursday, March 26, 2020 at 2:52 PM
To: GeoDaCenter/covid <covid@noreply.github.com>
Cc: Xun Li <lixun910@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [GeoDaCenter/covid] since county is focus, make count

[2020-03-26 22:04] jkoschinsky opened #22 "Volunteers: please add title, affiliation and URL"
Hi everyone who volunteers on this project:

We are acknowledging all the volunteers here:
https://spatial.uchicago.edu/content/us-covid-19-atlas
with this page: https://spatial.uchicago.edu/content/volunteers-csds-covid-10-atlas

I'm missing title, affiliation and URL for these volunteers if you can please add to this ticket:
Sihan Mao
John Steill
Steve Goldstein
Sean Kent
Steven R Wangen
Yuetian

[2020-03-26 22:14] linqinyu commented on #22
@JohnWSteill @SteveGoldstein @Sihan-Mao  cannot find others...will send out a message in slack as well.

[2020-03-26 22:18] SteveGoldstein commented on #22
Steve Goldstein, Botany, Biostatistics and Medical Informatics. University of Wisconsin-Madison.

It's Brian Yandell

[2020-03-26 22:20] linqinyu commented on #22
So sorry for the typo!!!

[2020-03-26 22:20] JohnWSteill commented on #22
John Steill, Computational Biologist, Morgridge Institute of Research

[2020-03-26 22:23] lixun910 opened #23 "d3.js helper"
I don't realize there are so many volunteers here. Anyone who knows d3.js, you are welcome to improve the d3.js made charts: the line chart and the bar chart. E.g. add mouse over function to the line chart, or add  a navigation line to the line chart etc.

The code to create the line char is in index.js in functions:
addTrendLine() and updateTrendLine()

The code to create the bar chart is in inde

[2020-03-26 22:27] Makosak commented on #21
Yep -- I'm working on About.html, and Erin is working on methods.html, so
good to go.

On Thu, Mar 26, 2020 at 4:47 PM Xun Li <notifications@github.com> wrote:

--
*Marynia A. Kolak, PhD, MFA, MS*
Assistant Director of Health Informatics
Assistant Instructional Professor in Geographic Information Science
Center for Spatial Data Science at the University of Chicago

[2020-03-26 22:46] blue442 commented on #22
Steven Wangen
Assistant Scientist at the Wisconsin Institute for Discovery
Data Scientist at the American Family Insurance Data Science Institute
University of Wisconsin - Madison

https://www.linkedin.com/in/steven-wangen/

Thanks!

[2020-03-26 22:50] Makosak commented on #22
Volunteers -- is it okay if we find a photo/profile for you online? Or send us one. See growing page here: https://geodacenter.github.io/covid/about.html

[2020-03-26 23:33] Sihan-Mao commented on #22
Sihan Mao, Senior Data & Policy Analyst, Department of Innovation & Performance, City of Pittsburgh

[2020-03-27 00:13] lixun910 commented on #20
This is quite a hacking: deck.gl fully ditched the zoom/pan controller and focused on mouse/touch gestures. Here are two hacks (none is perfect), let me know which one you prefer:
https://geodacenter.github.io/covid/map.html
https://geodacenter.github.io/covid/map1.html

[2020-03-27 00:17] jkoschinsky commented on #20
map.html doesn't work for me: there's a disconnect between map layer and base layer, see attached image
there's a lag in response for both layers in map1, too, but not as stark
Julia

<https://spatial-data-science-conference.com/>
________________________________
From: Xun Li <notifications@github.com>
Sent: Thursday, March 26, 2020 7:13 PM
To: GeoDaCenter/covid <covid@noreply.github.com>
Cc: Subs

[2020-03-27 00:18] Makosak commented on #20
Oof, that is frustrating indeed!

I was leaning towards the second one, but when I use a different page and
go back to the map, the zoom feature stops working at all. The basemap will
zoom in/out but the data sets fixed and won't budge. Same thing happens if
I try loading a different layer/variable, so may be a bigger bug.

Maybe we just hold off on the feature for now? Can go back to this later i

[2020-03-27 00:21] jkoschinsky commented on #20
can we add sth like:

To zoom, use XXX keys

in upper left corner?
so people know how to zoom?

<https://spatial-data-science-conference.com/>
________________________________
From: Marynia <notifications@github.com>
Sent: Thursday, March 26, 2020 7:19 PM
To: GeoDaCenter/covid <covid@noreply.github.com>
Cc: Julia Koschinsky <jkoschinsky@uchicago.edu>; Comment <comment@noreply.github.com>
Subject:

[2020-03-27 00:25] Makosak commented on #11
Yes, if there is tested cases that would be the (-) cases column. Confirmed
cases = (+) cases. If there is a better indicator/way of putting this in
the spreadsheet feel free! Seems like we need to capture following in all:

   - confirmed cases (+ tested)
   - if testing is reported (these would be confirmed negative cases)
   - confirmed deaths
   - hospitalized
   - ICU

Likely only confirmed c

[2020-03-27 00:36] lixun910 commented on #20
@Makosak  will go with 2nd one. The issue you experienced (go back to the map, and it loads a old version which I mentioned won't work before) is caused by browser caching). Once you clean your browser cache, it will work fine.

[2020-03-27 00:39] lixun910 commented on #20
The landing page has been changed. Now just one URL:https://geodacenter.github.io/covid/
I use the gif to replace the overwhelming mp4 movie, so goes back to your original template:)
Scrollbar issue has been fixed as well.

[2020-03-27 03:25] Makosak commented on #20
Well if no one else wants to close, I will -- it's so satisfying! Thanks Xun.

[2020-03-27 03:25] #20 closed

[2020-03-27 16:46] palisades-lakes opened #24 "bubble chart option"
Choropleths are great, but it does make it hard to see small counties, eg, Cook, Manhattan, San Francisco...
A bubble map,as in
https://blog.mapbox.com/notable-maps-visualizing-covid-19-and-surrounding-impacts-951724cc4bd8
would be a good additional option.

[2020-03-27 19:31] skent259 opened #25 "Add label (hover) to explain LISA legend"
Suggesting a few potential enhancements to the map that I believe would increase the clarity of the message:

- Outside users of this visualization may not understand "high-high", "high-low", "low-low" and "low-high" labels at first.  I found the meaning under methods, but maybe an image/legend can be included under "Covid clusters" to further explain what they mean
- [Opinion] the County, confirm

[2020-03-28 04:31] linqinyu opened #26 "Generate summary report twice every week"
Generate a report for regional clusters. For each regional cluster, the current plan is to include the following information: a list of counties, # of counties, total population, total confirmed cases, total death counts, the fatality rate, confirmed cases per 1M, death counts per 1M, and a figure for this particular cluster.
The current plan is to update this report every 3 days, twice a week. Ma

[2020-03-28 05:22] lixun910 commented on #26
Anyone knows how to create gif (small size and high quality)? Thanks!

[2020-03-28 12:11] blue442 commented on #26
Imagemagick (https://imagemagick.org/index.php) is the old standby for
that, and works great, although it's an external program. It is run via the
command line though so can be automated using subprocess in python if
that's helpful. Let me know if you want help getting something set up.

-Steve

On Sat, Mar 28, 2020 at 12:23 AM Xun Li <notifications@github.com> wrote:

[2020-03-28 14:45] jkoschinsky commented on #26
how about adding a comparison to the previous reports, i.e. indicators of growth/stability/reduction?

<https://spatial-data-science-conference.com/>
________________________________
From: Qinyun Lin <notifications@github.com>
Sent: Friday, March 27, 2020 11:32 PM
To: GeoDaCenter/covid <covid@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [GeoDaCenter/covid] Generate s

[2020-03-28 16:43] lixun910 commented on #26
Some states are providing more data: see

https://coronavirus.iowa.gov/

Current hospitalized
Never hospitalized
Discharged & recovering
Deceased

Xun Li, Ph.D.

Assistant Director of Data Science
Center for Spatial Data Science
University of Chicago

[2020-03-28 20:15] linqinyu commented on #26
@lixun910 What about adding this to the spreadsheet Marynia created: https://docs.google.com/spreadsheets/d/1b3ElJC8AnwnYfBupBmoJEZJ8D53YfF719R2AL4ierb0/edit#gid=0.
There is already one row for IA here. So I just added another link. The cases(-) and hospitalized are only at the state level, right?

[2020-03-28 20:17] linqinyu commented on #26
@blue442 Thank you very much for the information! Very helpful. I will try myself first and let you know if I need any help!

[2020-03-28 20:29] linqinyu commented on #26
@jkoschinsky Good idea! I will try to show the change in each regional cluster. Thx!

[2020-03-28 20:38] lixun910 commented on #24
Thanks, @palisades-lakes ! we prefer cartogram (just added) since the bubbles on the map "cover" certain area, and oversized bubbles might mislead readers that all areas under the bubble are infected.

[2020-03-28 23:57] palisades-lakes commented on #24
The cartogram is great, and bubbles certainly have the issues you
mentioned, but some tasks are easier with bubbles.
For example, if you want to pick out the hottest areas and understand where
they are. Hard to go from cartogram to geography, and with choropleths you
may miss some because they are too small.
A minor quibble: it might be nice if the cartogram cursor was a pointer,
rather than a han

[2020-03-29 00:09] lixun910 commented on #24
Yes, will change the cursor.  One thing I am adding: a search box, to zoom into the county/state you searched in regular map, may solve this issue?

From: John Alan McDonald <notifications@github.com>
Reply-To: GeoDaCenter/covid <reply@reply.github.com>
Date: Saturday, March 28, 2020 at 4:57 PM
To: GeoDaCenter/covid <covid@noreply.github.com>
Cc: Xun Li <lixun910@gmail.com>, Comment <comment@norep

[2020-03-29 15:19] jkoschinsky opened #27 "add press tab to website"
https://www.vox.com/2020/3/28/21197421/usa-coronavirus-covid-19-rural-america
https://news.uchicago.edu/story/state-level-data-misses-growing-coronavirus-hot-spots-us-including-south

also: NPR and maybe Wall Street Journal, Scientific American

<img width="1638" alt="uchicago news home page" src="https://user-images.githubusercontent.com/13679743/77852840-5f8ff080-71a6-11ea-912c-a312302ab34a.png"

[2020-03-29 15:55] lanselin opened #28 "rate units"
as is the rate is expressed as count per million population, I believe the Johns Hopkins figures are per 10,000. for smaller counties, a million is probably too large a denominator to be meaningful. should we consider using 10,000?

[2020-03-29 16:43] lixun910 commented on #28
Sure, per 10,000 for county. Should we keep per 1 million for state?

[2020-03-29 23:43] Makosak commented on #18
After thinking about this some more and going over the feedback. What if we indeed switch to county as landing page --> but do the population adjusted rate? That adds a lot more meat to the visualization and we don't start with an empty-looking map that the high-pop cities bias. What do you think about landing on this image? It can highlight how far the virus has spread, as the clustering maps may

[2020-03-29 23:55] jkoschinsky commented on #18
agree on counties as default
can we alternative between this map and the cluster one to highlight the spatial analytics, which differentiates us from the increasing number of other county maps?

Julia Koschinsky, Ph.D.
Executive Director
Center for Spatial Data Science
University of Chicago
https://spatial.uchicago.edu/

<https://spatial-data-science-conference.com/>
______________________________

[2020-03-30 00:43] lixun910 commented on #18
Sure: )

Xun Li, Ph.D.

Assistant Director of Data Science
Center for Spatial Data Science
University of Chicago

[2020-03-30 01:36] Makosak commented on #18
I would vote for choropleth map, not the cluster map. The cluster map misses how widespread the virus is, and the choropleth I think would be a better intro as the user will be more informed going from widespread cases via natural breaks to the cluster map which has more statistical error and blank spaces. An area of non-significance doesn't mean there is no COVID, so we need to be careful here.

[2020-03-30 01:37] Makosak commented on #18
There are so many challenges with LISA interpretation -- seeing this as we start to field questions about why towns were flagged as cluster, and will see this more as one day a county will be in a cluster and the next day it won't (because of shift in cases nationally). Informatics rules say start with the simplest access to information, then get more complex from there.

[2020-03-30 02:10] lixun910 commented on #18
County (confirmed count per 10K Population) choropleth  is default now.

Xun Li, Ph.D.

Assistant Director of Data Science
Center for Spatial Data Science
University of Chicago

[2020-03-30 15:59] Makosak commented on #9
@Sihan-Mao could you assist @linqinyu with comparing some merge conflict issues with a few of the data sources (while John works on the formal solution)? She can explain further! :)

[2020-03-30 16:38] linqinyu commented on #9
@Sihan-Mao Thanks for helping out!
Here is something I think we can start working on: compare how different John Hopkins, NYTimes, and USAFacts are for one particular day, in terms of total confirmed cases and death counts. Let's say we focus on 03/28 for now.
- For USAfacts, you can download csv file here: https://usafacts.org/visualizations/coronavirus-covid-19-spread-map/?utm_source=MailChimp&u

[2020-03-30 16:59] lixun910 commented on #9
+1 also check if these counts at county level add up and match the state level data.

On Mar 30, 2020, at 9:39 AM, Qinyun Lin <notifications@github.com> wrote:

[2020-03-30 20:14] Sihan-Mao commented on #9
Sure np! Will start working on that. My email is sihan.mao@gmail.com. @linqinyu Can you send me an invite for slack? Thanks a lot!

[2020-03-30 23:39] linqinyu commented on #9
Cool! I just sent out an email of invitation.
________________________________
From: Sihan-Mao <notifications@github.com>
Sent: Monday, March 30, 2020 3:14 PM
To: GeoDaCenter/covid <covid@noreply.github.com>
Cc: Qinyun Lin <qinyunlin@uchicago.edu>; Mention <mention@noreply.github.com>
Subject: Re: [GeoDaCenter/covid] Daily county 1P3A update (#9)

Sure np! Will start working on that. My email is s

[2020-03-31 03:20] lixun910 commented on #13
done

[2020-03-31 03:20] #13 closed

[2020-04-01 02:43] linqinyu commented on #27
From Julia's previous emails:
https://www.businessinsider.com/next-wave-of-coronavirus-national-epidemic-new-orleans-philadelphia-2020-3.

[2020-04-01 14:39] SteveGoldstein opened #29 "data/validation/raw dir needs to exist"
On countyV branch, ` county_validation.py` fails if the `data/validation/raw `directory doesn't exist.  I added a file, `data/validation/raw/.placeholder` (as well as modifying `.gitignore`) to my fork.  I started to submit a pull request but quick when I saw that 45 files would be in the commit, even though I thought I only those two files had been touched.

[2020-04-02 01:35] #17 closed

[2020-04-02 17:50] Makosak commented on #28
Updated to 10k

[2020-04-02 17:50] #28 closed

[2020-04-02 17:52] Makosak commented on #27
Scientific American:
https://www.scientificamerican.com/article/map-reveals-hidden-u-s-hotspots-of-coronavirus-infection/?fbclid=IwAR08weiTCQTmzeSd7harTwPDR7dgQEbUZYCr0CdJhEYJp4OK7ps9fgu7hgA

WGN:
https://wgntv.com/news/medical-watch/small-areas-hit-hard-by-covid-19-find-representation-in-u-of-c-map/

[2020-04-02 17:53] Makosak commented on #26
Closing this for now -- id'd as not essential priority that can be error-prone. May re-open in the future.

[2020-04-02 17:53] #26 closed

[2020-04-02 17:54] Makosak commented on #25
Will split this into a few issues later today or tomorrow... Thanks!!

[2020-04-02 17:55] Makosak commented on #24
Good to close? Can add other feature updates as JS-volunteer issues.

[2020-04-02 17:58] Makosak commented on #21
Need to divvy out points here as separate issues. JS volunteers -- feel free to star ta new issue referencing a specific task here?

[2020-04-02 17:59] Makosak commented on #9
Should I close this? I know the team is almost there, amazing work again!

[2020-04-02 18:01] disulfidebond commented on #21
I read through everything, and I'll grab one or more to tackle once I've started another set of jobs running on my labs' servers.

[2020-04-02 18:09] linqinyu commented on #9
Sure! I guess we can always open a new issue regarding this if we need!

On Thu, Apr 2, 2020 at 2:00 PM Marynia <notifications@github.com> wrote:

--
Qinyun Lin, PhD
Postdoctoral Researcher
Center for Spatial Data Science
University of Chicago

Pronouns: she/her/hers

[2020-04-02 18:09] palisades-lakes commented on #24
ok

On Thu, Apr 2, 2020 at 10:55 AM Marynia <notifications@github.com> wrote:

[2020-04-02 18:25] Makosak commented on #12
Closing this for now (hospital beds have been added). Will add separate issue: how we can start a new time-series dataset to track hospitalizations, etc?

[2020-04-02 18:25] #12 closed

[2020-04-02 18:25] Makosak commented on #6
Closing as Jamie is working on this separately, and Qinyun as well.

[2020-04-02 18:25] #6 closed

[2020-04-02 18:26] Makosak commented on #8
Closing for now as we will instead switch to need for hospitalization + testing results data.

[2020-04-02 18:26] #8 closed

[2020-04-02 18:30] #9 closed

[2020-04-02 18:33] Makosak commented on #18
Ok, closing as a compromise for now, we can revisit again if needed!

[2020-04-02 18:33] #18 closed

[2020-04-02 18:35] Makosak opened #30 "Add map labels above data visualization layer"
From EJ: _Is there functionality to add the administrative labels above the visualization layer? It gets hard to read and given that you want this oriented toward a national audience they’re not going to know the local names without clicking and it would be better to put above the viz._

[2020-04-02 18:35] Makosak commented on #30
This is the layer I've used for adding labels only on top -- it adjusts by zoom automatically. If someone wants to tool around with seeing how compatible it would be to add?

Provider names for leaflet-providers.js
CartoDB.PositronOnlyLabels
Plain JavaScript:
var CartoDB_PositronOnlyLabels = L.tileLayer('https://{s}.basemaps.cartocdn.com/light_only_labels/{z}/{x}/{y}{r}.png', {
        attribution

[2020-04-02 19:15] Makosak opened #31 "Add baseline-forecast model for counties"
Tagging Xun and Pedro; Pedro's code is almost ready to go, and needs to be integrated. Would update daily based on new data.

Later we'll need to identify an easy way for groups to add their models in the format we need, etc.

[2020-04-02 19:49] Makosak commented on #27
Another one (different from first business insider):
 https://www.businessinsider.com/coronavirus-hotspot-in-the-us-south-states-covid-19-pandemic-2020-4

[2020-04-03 01:09] Makosak opened #32 "Add hospital data as point layer"
Add COVIDCareMap hospitals as a point layer to click/off to help planning for hospital + planner crowd: https://www.covidcaremap.org/maps/us-healthcare-system-capacity/#3.85/38.63/-93.09

We're already using this as data for county levels, but our healthcare "customers" noted that being able to explore hospitals as points with data attached would be super.

[2020-04-03 01:14] Makosak opened #33 "Join DesCartes Lab Mobility Index data for visualization"
Add mobility index dataset for counties (proxy for social distancing, something > nothing), using DesCartes Lab's Mobility index data. Be sure to call this "Mobility Index" and source DesCarte lab (link back to their Github).

https://github.com/descarteslabs/DL-COVID-19

UI consideration: Visualize this as choropleth and clustering as default? Or is there a better way?
Also we will likely get at

[2020-04-03 01:15] Makosak commented on #31
This can be multiple tasks -- merging and data protocol; visualization itself; etc. Let us know how we can help!

[2020-04-03 01:55] Makosak commented on #11
Bumping this as a critical need -- searching for more volunteers to log state dept health info. We will use the metadata from this doc to begin a hospitalization dataset that will be essential for communities impacted. While only a few states are opting to share hospitalization data now, that may change in the future.

[2020-04-03 01:56] disulfidebond commented on #11
Do you want only Wisconsin or elsewhere too?

[2020-04-03 02:11] pedrovma commented on #31
The latest R code I sent is already ready to go, unless we find any bug in it. It spits a table with the predicted total cases by counties/states for each of the 15 days ahead of the latest data on this git. I believe now it is just a matter of plugging that into the Atlas template to show the absolute values/spatial clusters, but I absolutely lack technical capacity to do this. Up for grabs?

[2020-04-03 04:10] ryanwyg commented on #11
I have completed the google sheet with all the information. I have also added a "recovered" column as some states are reporting that information. This could potentially be helpful in later stages of this project. I will monitor state websites to revise any updated info.

[2020-04-03 04:35] ryanwyg opened #34 "Time Label"
The "Show Time Label" option returns very big labels where only the year "2020" is available. I do not know if this is intentional as the data from 1p3a API might still be lagged or if this is a bug? This has been a consistent issue with the browsers I have (Mac, Safari and Opera, and Windows, Opera.)

[2020-04-03 04:41] ryanwyg commented on #34
Also another UI suggestion: Adding a logarithmic scale option for cases would be helpful in identifying growth trends.

[2020-04-03 20:57] Makosak opened #35 "Prepare (Secondary) USAFacts Data Stream"
Following findings from county validation team, need to switch data sources with fewer merging issues while retaining accuracy and CDC standards. Chats with @linqinyu and @SteveGoldstein coalesced in sanctioning this move to USAFacts, at least until we flip to a validated multi-source dataset down the road. Validation efforts will continue.

Another idea down the road -- include a drop down of dat

[2020-04-03 21:55] linqinyu commented on #35
Xun and I chatted this afternoon. The 1P3A does have a lot of merging problems. Their county names keep changing (every day!) and new county names keep popping up that cannot be directly merged to the geojson file. But Xun also mentioned that we should keep our 1P3A data ongoing since we have been so far already (which I agree).

(Xukun and Xun are working on the merging problem for today right no

[2020-04-03 22:00] lanselin commented on #35
Alternatively, if you collect two sources, there could be an option to select the one to be mapped.
I don’t think it’s a good idea to switch sources in mid-stream since that makes the maps historically
no longer comparable. Consistency is important!

It may make sense to start showing maps using a different source *in addition* to the current map,
but switching sources in mid-stream is a no-go as

[2020-04-03 22:06] Makosak commented on #35
Okay, so it sounds like best to keep parallel efforts to 1) clean 1P3A further and continue its use and 2) have USAfacts ready to go as an option (secondary)? If yes I can update the task here to "prepare USAFacts Data Stream."

I've grown increasingly nervous with 1P3A as their team hasn't responded to any questions for a while, and the county merge issue seems a bit sloppy so that flags a potent

[2020-04-03 23:36] Makosak commented on #34
great points, thanks! if you can add the log scale as another issue -- second request we had for that so good to flag.

[2020-04-03 23:39] Makosak commented on #11
Amazing, thank you guys!! I will leave open until we have a README filled up where we can link to it directly. Thanks @ryanwyg for your amazing work here.

The long-term interest would be using these sources as our gold standard to validate against, but the huge variety of formats poses an issue.

@disulfidebond would you want to start linking the JS-scraped WI gold standard to check against the c

[2020-04-03 23:41] Makosak commented on #11
Also @disulfidebond  -- Another option could be working on scraping the hospitalization numbers for the areas we can get them, to start a new time-series dataset. This was identified as a critical task by the health sounding board we have, too. If your'e interested, feel free to throw up as another issue.

[2020-04-03 23:47] ryanwyg opened #36 "Log scale for cases stats graph"
UI suggestion: Adding a logarithmic scale option for cases would be helpful in identifying growth trends.

[2020-04-04 00:48] lanselin commented on #35
I think the comparison might be a useful map in its own right, i.e., highlight where the
discrepancies are the greatest. This would be of interest in and of itself in terms of testing
the “representativeness” of the crowdsourcing. For example, there could be systematic
regional biases (or not).

The importance of sticking with 1P3A is to keep consistency with the earlier maps. One
simply cannot bu

[2020-04-04 01:28] linqinyu commented on #35
Makes sense. The plan changed to continue cleaning 1P3A and add USAFacts as another option. Will continue the validation and check systematic discrepancies.

Just found a difference between USAFacts and 1P3A: for some counties in UT, the state report cases for a combination of several counties, rather than separately for each county. For example, we only know there are 2 cases for all 6 counties i

[2020-04-04 02:14] Makosak commented on #35
Keep them as county only, to match the master county shapefile... Alaska
also only reports regions (at least last week they did) so could have
similar issues. While health departments are the gold standard for cases
reported, we should keep a higher "county file" standard that matches the
Census as to maintain county geographies, etc
—

--
*Marynia A. Kolak, PhD, MFA, MS*
Assistant Director of Hea

[2020-04-04 10:43] lanselin commented on #35
Agreed, stick with counties consistently.

[2020-04-04 14:50] linqinyu commented on #35
Got it. Documented this in our google doc and later will be shared in a method/Readme file.
________________________________
From: Luc Anselin <notifications@github.com>
Sent: Saturday, April 4, 2020 5:43 AM
To: GeoDaCenter/covid <covid@noreply.github.com>
Cc: Qinyun Lin <qinyunlin@uchicago.edu>; Mention <mention@noreply.github.com>
Subject: Re: [GeoDaCenter/covid] Prepare (Secondary) USAFacts Dat

[2020-04-05 19:36] Makosak opened #37 "User Session for Map w/ Reset as Optional, not Default"
Generate a user session for the map, so that the map doesn't re-initialize and reset every time a new selection is made. For example, if a user zooms into a region, using the temporal slider or clicking a different variable forces them out to the whole US again.  Then we could use a button to reset as an option, vs making it a default for any task. I think this may be the "buggy" experience some h

[2020-04-05 19:43] Makosak commented on #35
User found a major data discrepancy in data for a county in PA -- the 1P3A website has accurate number, but their API gave us a number that was magnitudes off. +1 for having an alternate data default as primary (okay to keep 1P3A as a secondary), as the errors are getting more extreme.

[2020-04-05 19:52] Makosak opened #38 "Join Limited Engagement Index from Booth Team"
another social distancing proxy

[2020-04-05 21:05] Makosak commented on #38
The data are now available at https://github.com/COVIDExposureIndices/COVIDExposureIndices.

[2020-04-06 03:28] rbrtmrtn commented on #32
Hello everyone!

I've been enjoying checking out this repo and seeing what's under the hood of the COVID Atlas. I'm especially curious about how the WebAssembly wrapper for GeoDa, as well as how some of the data flows work. Kudos on a nicely executed and much-needed reporting tool!

I'd love to help in some capacity if I can; @Makosak had suggested this issue could use a volunteer. If it's alright

[2020-04-06 08:13] jkoschinsky commented on #27
https://abcnews.go.com/Health/surprising-covid-19-hot-spots-coronavirus-threatens-rural/story?id=69940146

[2020-04-06 12:16] RandomFractals commented on #11
@Makosak this dataset has hospitalization and grocery stores visits you could use for displaying that information: https://www.kaggle.com/jieyingwu/covid19-us-countylevel-summaries

[2020-04-06 15:14] RandomFractals commented on #23
@lixun910 if you are planning to add more charts to this dashbord, I would suggest you integrate vega-lite instead for faster configuration and better charts display with more polished look and feel, UX, export options, etc.

see: https://github.com/vega/vega-lite

It is built on d3.js, just more dev and user friendly.

[2020-04-06 15:19] jkoschinsky commented on #27
https://www.youtube.com/watch?v=uqGXzWCD9Xk

[2020-04-06 15:40] RandomFractals commented on #32
@rbrtmrtn you can also look at this repo to see where they get those numbers from too:

https://github.com/JieYingWu/COVID-19_US_County-level_Summaries

more info on that data set here: https://www.kaggle.com/jieyingwu/covid19-us-countylevel-summaries

See data sources list for hospital visits: https://www.kaggle.com/jieyingwu/covid19-us-countylevel-summaries#hospital_visits.csv

[2020-04-06 15:46] Makosak commented on #35
Looks great!!

[2020-04-06 15:46] #35 closed

[2020-04-06 15:46] #29 closed

[2020-04-06 15:54] Makosak commented on #32
Hey guys! Thanks for all this. For the point layer, we were planning on going with the dataset from COVIDCare map (linked above in initial comment) as it's from 2018 and is open to live edits -- also the Northwestern group was using that dataset, so it seems to be vetted. We're already using this as county-level estimates in the application, but wanted to add it as a clickable point layer to the m

[2020-04-06 15:58] Makosak commented on #25
Updating this issue to focus on the first bullet point:

From user group; perhaps as the legend is being hovered over (is that how you say it?) there would be a pop-up explaining what each category would be.

[2020-04-06 16:18] RandomFractals commented on #32
yeah, makes sense. that covidcare map has a decent repo we could use to pull that data for the hospitals map view layer: https://github.com/covidcaremap/covid19-healthsystemcapacity

[2020-04-06 16:53] Makosak opened #39 "Add Native American Reservation Boundary as an optional clickable layer/overlay"
Requested by Indian Health Service

[2020-04-06 17:12] rbrtmrtn commented on #32
Thank you @Makosak and @RandomFractals for these notes!

I did some digging and it looks like COVIDCareMap publishes a file called [us_healthcare_capacity-facility-CovidCareMap.geojson](https://github.com/covidcaremap/covid19-healthsystemcapacity/blob/master/data/published/us_healthcare_capacity-facility-CovidCareMap.geojson). Just to confirm, is that dataset you were planning on using?

The raw f

[2020-04-08 13:09] jkoschinsky commented on #27
https://www.washingtonpost.com/politics/even-as-deaths-mount-officials-see-signs-pandemics-toll-may-not-match-worst-fears/2020/04/07/cb2d2290-78d1-11ea-9bee-c5bf9d2e3288_story.html

"Marynia Kolak, assistant director of health informatics at the University of Chicago’s Center for Spatial Data Science, …”

[2020-04-09 07:43] jkoschinsky opened #40 "Redesign landing page"

[2020-04-09 17:52] Makosak commented on #39
Could we do this by next week? Someone could identify the shapefile and attach here; a JS volunteer could add?

[2020-04-09 17:57] Makosak commented on #32
+1 Sounds good @rbrtmrtn!  Maybe see if we can bring their tiles over first? If that doesn't work or they're not interested we'd flip to serving our own but to not duplicate efforts, etc.

[2020-04-09 17:58] Makosak commented on #38
Oof, this will be a heavy lift. This actually returns a 2k x 2k origin:destination matrix for all counties (or almost all, as we're missing 1k). It's updated daily. This could be super useful but we'll need to build a pipeline to incorporate. @linqinyu what do you think of this as a priority or not? @rbrtmrtn may be interested in a long-term solution if we incorporate?

From the site:
**County-lev

[2020-04-09 18:14] lixun910 commented on #32
@rbtmrtn <10M is ok, not worth to tiling. what you need to is to reduce the
geojson file size by:

1. only keep id and lat/lon in geojson
2. save any other information (needed on the map) to another csv file,
which will be loaded separately

see the content of the geojson file,   a lot of redundant information which
can be dropped off to reduce the file size significantly:

"features": [
    {

[2020-04-09 18:17] linqinyu commented on #32
The Berkeley group also has hospital data that we need to incorporate. They have a severity index for each hospital. Maybe combine these? They also have lat & long ready.

[2020-04-09 18:18] linqinyu commented on #40
Need to add coauthors. & Update the data source information (not only 1P3A but also other data sources).

[2020-04-09 18:23] linqinyu opened #41 "Add New York Times data & Predicted death at the county level"
The data are shared by the Berkely group:
NewYorkTimes data will be updated here:
https://github.com/Yu-Group/covid19-severity-prediction/blob/master/data/nytimes.

[2020-04-09 18:42] linqinyu opened #42 "Add README info"
add README info, including:
- the content of each folder (where to download data, etc)
- our workflow, collaborators
- decisions we made when merging in data

anything else?

[2020-04-09 19:10] rbrtmrtn commented on #38
This sounds like a really neat dataset! Agreed that the matrix might be a little tricky to bring in as is. One question for you @Makosak @linqinyu that might point us toward a better data structure... did you have initial thoughts on how to visualize this? I was thinking it might be cool to draw lines between the origin county and top n destinations on hover. Or might be simpler to just aggregate

[2020-04-09 19:17] lixun910 commented on #38
This data bring me this map: https://deck.gl/showcases/gallery/arc-layer
😊

From: Robert Martin <notifications@github.com>
Reply-To: GeoDaCenter/covid <reply@reply.github.com>
Date: Thursday, April 9, 2020 at 12:10 PM
To: GeoDaCenter/covid <covid@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [GeoDaCenter/covid] Join Limited Engagement Index from Booth Team (#38)

[2020-04-09 19:22] rbrtmrtn commented on #38
That's awesome @lixun910! 😄

[2020-04-09 19:30] linqinyu commented on #38
The visualization is great!!

But I don't see this as a high priority? Definitely on the list for the long-term. And I think it would be great to look at the change over time for these data.
________________________________
From: Robert Martin <notifications@github.com>
Sent: Thursday, April 9, 2020 2:22 PM
To: GeoDaCenter/covid <covid@noreply.github.com>
Cc: Qinyun Lin <qinyunlin@uchicago.edu>; M

[2020-04-10 15:41] jkoschinsky commented on #27
**Media Coverage of CSDS U.S. COVID-19 Atlas**

Washington Post: Even as deaths mount, officials see signs pandemic’s toll may not match worst fears (April 8)
https://www.washingtonpost.com/politics/even-as-deaths-mount-officials-see-signs-pandemics-toll-may-not-match-worst-fears/2020/04/07/cb2d2290-78d1-11ea-9bee-c5bf9d2e3288_story.html

CBS This Morning: How the coronavirus is impacting rural ar

[2020-04-11 14:55] jkoschinsky commented on #27
https://www.nytimes.com/2020/04/10/nyregion/coronavirus-new-yorkers-leave.html

[2020-04-11 23:54] Makosak commented on #38
Okay, we can put this in a future enhancement setting then, after we get a simpler mobility measure included. Love the idea of using flows to proxy this (between the origin county and top n destinations on hover), though!

[2020-04-12 05:17] rbrtmrtn commented on #32
Hi team! I just had a few followup questions about adding hospitals to the map.

- Do we want these be a separate map layer (i.e. should they go in the "Select Data" dropdown), or should they be an overlay you toggle on/off over the existing state/county data? For the latter just wondering if that could get a little busy visually.
- When you hover over a hospital do we want to show the same data t

[2020-04-12 07:35] rbrtmrtn opened #43 "Automated data flows"
Hello everyone!

I've been diving into the code this week to get a better feel for how data flows from 1P3A and USAFacts all the way to the front end. This is really fantastic work and I think will make a great foundation as we keep iterating on the back end!

I was hoping to kick off a conversation around how we might be able to translate the [`hourly_update.py`](https://github.com/GeoDaCenter/co

[2020-04-12 18:15] lixun910 commented on #43
Thanks, Robert! It looks good for a long term solution. How much time do you think it will need to get it done? Maybe Qinyun can show you more on our daily update routine, so you can prioritize the tasks.

 One priority is to save the 1p3a results into two csv files like USAFacts (not geojson), so the data parsing in index.js can be simplified, and also the data size is significantly reduced  (geo

[2020-04-12 18:39] linqinyu commented on #43
The procedure looks good to me!

A note is that we will switch to our UC Berkeley group to extract USAFacts and NYT data (hopefully next week). I guess this can help make automation easier since they will check the data before us. We only need to manually check 1P3A.

@Robert Martin<mailto:rmartin@rmart.in> I will send you the daily updates procedure we are doing right now. You can take a look at

[2020-04-12 18:58] lixun910 commented on #32
Maybe Marynia can point out more what our stakeholders want? I think the point layer could just be “an overlay you toggle on/off”, so people will see these hospitals (with simple symbol e.g. point, to not draw users attention to the county/state level map). Then, it won’t impact existing spatial analysis methods.

It will not work with cartogram, which is has no geography/projection.

Xun

[2020-04-12 19:21] Makosak commented on #32
Yes for this one just a click on/off, no graduated symbol for this (at
least for now), with click enabled pop up window with more details. Users
would zoom to an area of interest and click on this layer for more
exploration.

We may have to fix the user session first -- right now if you zoom in and
click different feature it resets the map, and for this feature to work as
expected will need to kee

[2020-04-13 06:07] rbrtmrtn commented on #39
I found a layer for this on ArcGIS Online which looks pretty recent (last updated 2019).

https://www.arcgis.com/home/item.html?id=108d7cbecbca42549c49b1454bfa7c9c

You can pull all the features as GeoJSON with this URL:

https://services4.arcgis.com/ul3DV3LWHhAM8P61/arcgis/rest/services/Navajo_Nation_2013/FeatureServer/0/query?f=geojson&where=1%3D1&returnGeometry=true&outSR=4326

I can drop that

[2020-04-13 12:14] RandomFractals commented on #32
here is a decent hospitals and beds map for inspiration: https://maps.ruralopportunitymap.us/harvard-covid-scorecard

[2020-04-13 16:40] rbrtmrtn commented on #39
Just a quick update on this—I was able to bring the layer in but it seems to be broken up into communities:

![image](https://user-images.githubusercontent.com/1463553/79139068-3f9e2680-7d7b-11ea-9ad8-5a8e26e401e0.png)

Looking at the [metadata](https://www.arcgis.com/home/item.html?id=108d7cbecbca42549c49b1454bfa7c9c) this seems about right:

@Makosak I was going to dissolve the polygons next but

[2020-04-13 17:18] rbrtmrtn commented on #39
Just a quick update—I was able to add the boundaries but didn't realize they're broken down by community:

![image](https://user-images.githubusercontent.com/1463553/79142145-a70aa500-7d80-11ea-89fc-41e554f528e0.png)

@Makosak should I go ahead merge these polygons? Also, there's a live demo here if anyone would like to see the data as-is :)

https://covid-atlas-rbrtmrtn.netlify.com/map.html

Than

[2020-04-13 17:19] rbrtmrtn commented on #39
There's a live demo here if anyone would like to see the data as-is:

https://covid-atlas-rbrtmrtn.netlify.com/map.html

[2020-04-13 17:38] Makosak commented on #39
Looking good to start! I like the demo version.

We shouldn't jut include the Navajo Nation (that was just an example of why
we need this), but all the First Nation reservation boundaries. What about
this file?
https://hifld-geoplatform.opendata.arcgis.com/datasets/54cb67feef5746e8ac7c4ab467c8ae64

I think a slightly transparent dark gray boundary may work better? Should
we try with a light label

[2020-04-13 19:47] rbrtmrtn commented on #39
Sorry about that @Makosak, I'm not sure where I got the idea it was just the Navajo Nation 🤔 I can definitely add the Indian Reservations boundary—will update you soon!

[2020-04-13 22:02] rbrtmrtn commented on #43
Thank you for the feedback @lixun910 and @linqinyu, this is very helpful!

I was thinking maybe we could start by going over the data sources on our call tomorrow—it would be great to hear a bit more from you about what the Berkeley group is doing, just so we aren't duplicating efforts/"sources of truth".

Thank you and looking forward to chatting!

[2020-04-14 04:16] rbrtmrtn commented on #39
I downloaded the reservations shapefile @Makosak and converted it to GeoJSON but it's quite big (23 MB) 😕 I think we may want to put this one into Mapbox. Does the Center have an account or would it be OK if I created one?

[2020-04-15 17:18] Makosak commented on #38
Closing for now but we can reopen when ready.

[2020-04-15 17:18] #38 closed

[2020-04-15 17:19] Makosak commented on #11
closing this issue for now, thanks team for getting this document together!

[2020-04-15 17:19] #11 closed

[2020-04-15 17:23] Makosak commented on #14
From Xun:

![image](https://user-images.githubusercontent.com/4277692/79367635-ce45ab80-7f13-11ea-9485-1934f751908d.png)

Tagging as task for JS engineer.

[2020-04-15 17:26] #22 closed

[2020-04-15 17:26] #24 closed

[2020-04-15 17:29] Makosak commented on #37
Adding as a task for refactoring this week @rbrtmrtn

[2020-04-15 17:33] Makosak commented on #33
This will be another time-series dataset to add, like USAfacts or 1P3A. Data is cleaned and ready to join via FIPS at county or state (all in one file) -- https://github.com/descarteslabs/DL-COVID-19/blob/master/DL-us-m50.csv and we would visualize the index shown. @linqinyu what would be best way to add and update daily, like the other data?

[2020-04-15 18:09] linqinyu commented on #33
Then this can be wrapped together with USAFacts & NYTimes (from the Berkely group). We can automate the update for these three datasets I think: extract them every day at a certain time. I need to merge this dataset with our geojson file to make sure the county names are right.
________________________________
From: Marynia <notifications@github.com>
Sent: Wednesday, April 15, 2020 12:33 PM
To: Ge

[2020-04-16 00:45] rbrtmrtn commented on #37
@Makosak I can definitely roll this in to the refactor!

[2020-04-18 14:58] jkoschinsky opened #44 "LISA map: ring of coldspots around border"
(based on conversation with Jamie):

FYI: On March 5, there's a ring of coldspots around the US border. This is probably an artifact of the weights?

<img width="1305" alt="Screen Shot 2020-04-18 at 9 57 09 AM" src="https://user-images.githubusercontent.com/13679743/79641105-fecb5680-815a-11ea-99ee-0533875b6c29.png">

[2020-04-20 04:41] Makosak commented on #44
Yes I agree, lots of weird things happen with the coldspots overall, it's a tricky and imperfect thing.

[2020-04-24 19:49] rbrtmrtn opened #45 "Add CHR socioeconomic data"
Add data from the County Health Rankings group with socioeconomic variables

https://trello-attachments.s3.amazonaws.com/5e993b9fe94b2f74c49ab6a3/5ea3399652fa1330e24b51d0/ed0f974ca7afd4151a4173eb745c02e3/CHR_Cleaned.csv

[2020-04-27 02:43] #42 closed

[2020-04-27 23:10] rbrtmrtn opened #46 "Negative counts in tooltip"
For Weld County, CO (just north of Denver) on 4/26 there was a negative new deaths count:

![Screen Shot 2020-04-27 at 6 06 48 PM](https://user-images.githubusercontent.com/1463553/80429571-12409500-88b2-11ea-81d3-58f1afd06eac.png)

Fairly certain this is just a glitch in the data but we might want to consider defaulting these values to something like "Error", just to prevent any confusion.

[2020-04-28 00:17] lixun910 commented on #46
Agree. A negative number in this case is ... Unless the data in previous day was incorrectly reported, and the county correct it in the next day.  Qinyun, can you help to check the USAFacts csv file? Thanks!

[2020-04-28 06:54] rbrtmrtn commented on #41
Hi @linqinyu, I noticed the above link must have changed at some point. Is this the data we'd like to load in? It's the closest thing I could find 🧐

https://github.com/Yu-Group/covid19-severity-prediction/blob/master/data/county_level/processed/nytimes_infections/nytimes_infections.csv

[2020-04-28 13:27] #41 closed

[2020-04-28 13:35] linqinyu commented on #46
@lixun910 That is exactly the case you described! The case number is 82 for 4/24, 78 for 4/25, and 79 for 4/26.

Also note from USAFacts: (not sure whether this particular county is included or not):
Note from April 18: Certain states have changed their methodology in reporting deaths due to COVID-19. As a result, we are holding off on reporting death data in a few key states (New York is notable

[2020-04-28 13:36] linqinyu commented on #46
@rbrtmrtn this is something that can be checked automatically.

[2020-04-28 16:06] rbrtmrtn opened #47 "Add Berkeley forecasting data"
Data is available here: https://docs.google.com/spreadsheets/d/1ZSG7o4cV-G0Zg3wlgJpB2Zvg-vEN1i_76n2I-djL0Dk/edit#gid=1341003284

[2020-04-28 17:34] Makosak commented on #27
Should be updated by end of day!

[2020-04-28 17:59] #27 closed

[2020-04-28 21:08] Makosak opened #48 "Add Search bar"
Add search bar so users can enter address or place and have the map zoom accordingly.

[2020-04-28 21:23] Makosak commented on #25
@ariisrael @rbrtmrtn We can create some content to add for this, but this would be a feature over the "legend" colors.

[2020-04-28 21:25] Makosak commented on #14
@rbrtmrtn @ariisrael a bit more cmplex but the function to call neighbors was generated by Xun already, so would just need to connect things. This is also around the "LISA" clustering map

[2020-04-28 21:34] Makosak commented on #30
@rbrtmrtn  this will be the feature we talked about; you would see if the Mapbox label layering works instead since the overlay doesn't worth? https://blog.mapbox.com/labels-on-top-fad3dab3bc8

[2020-04-28 21:35] Makosak commented on #40
@linqinyu coauthors and data page are up!

For redesign page -- seeking inspiration from favorite web maps via @ariisrael's request. Can add to our slack channel #6 or for those outside core group, can add here.

[2020-04-28 21:37] Makosak commented on #15
@ariisrael may be related to d3.helper post via Xun?

[2020-04-28 21:38] Makosak commented on #44
Closing for now, can reopen if we update LISA in refactor

[2020-04-28 21:38] #44 closed

[2020-04-29 00:53] rbrtmrtn commented on #47
@Makosak @linqinyu just cross-posting here what we had discussed in Slack, with a little more detail - no need to follow up unless you have additional thoughts :)

For bringing the forecast data into the Atlas, we had discussed possibly accessing it directly in the browser via the Google Sheets API, but it looks like there's some authentication that needs to happen to do that:
https://developers.g

[2020-04-29 02:03] linqinyu commented on #47
We can bring this up in Thursday's meeting.

Also waiting to hear from them regarding data for two counties in AK.

[2020-04-30 21:54] rbrtmrtn commented on #39
Reservations GeoJSON has been uploaded as a Mapbox tileset here:

https://studio.mapbox.com/tilesets/lixun910.4j9fklls/

[2020-05-01 01:23] ariisrael opened #49 "Update viz based on stakeholder feedback"
- Swap left and right panels
- Minimize both panels
- Light map?
- Less information in the tooltip
- Full length panels

[2020-05-01 02:01] ariisrael opened #50 "Add navbar above map"
Based on stakeholder feedback, so users can access about, methods, blog pages from map.

[2020-05-01 02:46] ariisrael opened #51 "Colors appear lighter on map than legend"
Color on the map and on the legend don't match very well, making it hard to compare on the choropleth version in particular. This may be a function of opacity. Some options: add an opacity toggle to switch between full and lower map opacity (if you want to see what's behind the map); add basemap-colored layer underneath the legend and then make the legend less opaque so it matches the map.

[2020-05-01 02:50] ariisrael opened #52 "Update data/variable dropdowns to select elements"
Right now the data and variable dropdown elements are divs not select elements. Confuses some users who don't realize they are dropdowns.

[2020-05-01 06:45] ariisrael commented on #30
Deck.gl renders on top of Mapbox, and we can only get the labels to the top of the Mapbox map. So we need to remove Deck.gl (which we should, we aren't really using it) and then this should be easy.

[2020-05-01 08:53] rbrtmrtn commented on #39
Deck.gl has a generic `TileLayer` component for adding tiled data, but it doesn't know how to consume Mapbox vector tiles by default. There's a recipe for that here:

https://tgorkin.github.io/docs/layers/tile-layer

This relies on two npm packages that aren't available as browser builds (`@mapbox/vector-tiles` and `@mapbox/point-geometry`), so I cribbed them into this project and degraded them fr

[2020-05-01 17:04] rbrtmrtn opened #53 "Use MapboxGL as primary mapping API"
Currently we're using Deck.gl as our primary API for mapping and visualization. Under the hood Deck.gl is a MapboxGL map with a WebGL canvas on top. It has some distinct advantages around drawing custom visualizations on top of the map. The tradeoff is that it doesn't allow us to interface with Mapbox directly*, so more typical "GIS" tasks like adding a layer to the map can take considerably more

[2020-05-01 19:12] ariisrael opened #54 "Add hyper-segregated cities to map"
Involves getting metropolitan shape files for the cities and using name list shared by Lawrence.

[2020-05-01 19:24] ariisrael opened #55 "Add New York Times data to map"

[2020-05-01 19:25] ariisrael commented on #54
In the future we want interactivity, but for now treat it like reservation boundaries. No tooltip necessary.

[2020-05-01 19:36] ariisrael opened #56 "Visualize prediction data as trend line"

[2020-05-04 03:43] ariisrael opened #57 "New deaths mislabeled in tooltip"
New confirmed count listed twice, new deaths mislabeled as new confirmed count.
<img width="249" alt="Screen Shot 2020-05-03 at 8 41 41 PM" src="https://user-images.githubusercontent.com/16139810/80934790-a8772e00-8d7e-11ea-90fa-580640dfa580.png">

[2020-05-04 03:56] #57 closed

[2020-05-04 07:12] rbrtmrtn commented on #39
Tippecanoe command for generating MBTiles at inferred min/max zoom levels, for posterity 😄

[code]

[2020-05-05 01:34] Makosak opened #58 "If licensed beds are zero for county, treat differently"
Need to add an exception to the case per licensed bed count:

IF licensed bed = 0
THEN case per licensed bed count = NA

And ideally we stylize the counties that are NA in some different way for the clustering map; perhaps they are just treated as missing, or color coded in a diff way.

Otherwise it's being calculated as 0 which is very inaccurate, as areas with no licensed beds are actually extre

[2020-05-05 03:51] ariisrael opened #59 "Highlight boundaries of selected county/state"
Possibly to replace the tooltip, but boundaries on hover and select should be different colors or thicknesses to make it clear which region is selected.

[2020-05-05 19:35] rbrtmrtn commented on #39
A few notes from @lixun910 on how the reservation boundaries are surfacing an issue with the zoom controls:

Followup:

Thank you again Xun for letting us know about this 😄

[2020-05-05 19:36] rbrtmrtn commented on #39
Closed by d4766b6c252588bec885c3621b728b6c86617bfb

[2020-05-05 19:36] #39 closed

[2020-05-08 04:09] Makosak opened #62 "Add state testing %"
Add state testing % to show up in the county dashboard. This will help give healthworkers/planners some point of reference on how accurate the confirmed cases will be. Requested via stakeholder/partners.

Need to identify a data source for state-wide metrics that could be updated regularly - would JHU have this now? We know county-level data is not possible at this stage.

[2020-05-11 17:44] #46 closed

[2020-05-11 17:44] #50 closed

[2020-05-11 17:46] #54 closed

[2020-05-11 17:47] #47 closed

[2020-05-11 17:48] #45 closed

[2020-05-12 19:47] #49 closed

[2020-05-13 10:26] #58 closed

[2020-05-13 10:37] ariisrael commented on #62
![](https://github.trello.services/images/mini-trello-icon.png) [#62: Add state testing %](https://trello.com/c/ChcNOLGz/84-62-add-state-testing)

[2020-05-13 10:37] ariisrael commented on #59
![](https://github.trello.services/images/mini-trello-icon.png) [#59: Highlight boundaries of selected county/state](https://trello.com/c/VAgBiILE/85-59-highlight-boundaries-of-selected-county-state)

[2020-05-13 10:39] ariisrael commented on #56
![](https://github.trello.services/images/mini-trello-icon.png) [#56: Visualize prediction data as trend line](https://trello.com/c/uhRWymDb/87-56-visualize-prediction-data-as-trend-line)

[2020-05-13 10:39] ariisrael commented on #40
![](https://github.trello.services/images/mini-trello-icon.png) [#40: Redesign landing page](https://trello.com/c/twijikom/88-40-redesign-landing-page)

[2020-05-13 10:39] ariisrael commented on #53
![](https://github.trello.services/images/mini-trello-icon.png) [#53: Use MapboxGL as primary mapping API](https://trello.com/c/Vnx2GVfZ/89-53-use-mapboxgl-as-primary-mapping-api)

[2020-05-13 10:40] ariisrael commented on #15
![](https://github.trello.services/images/mini-trello-icon.png) [#15: Space out dates in histogram x-axis more for legibility](https://trello.com/c/CtsQfn2a/91-15-space-out-dates-in-histogram-x-axis-more-for-legibility)

[2020-05-13 10:40] ariisrael commented on #32
![](https://github.trello.services/images/mini-trello-icon.png) [#32: Add hospital data as point layer](https://trello.com/c/MM2xraeU/92-32-add-hospital-data-as-point-layer)

[2020-05-13 10:40] ariisrael commented on #55
![](https://github.trello.services/images/mini-trello-icon.png) [#55: Add New York Times data to map](https://trello.com/c/S9ARb9Sc/93-55-add-new-york-times-data-to-map)

[2020-05-13 10:41] ariisrael commented on #52
![](https://github.trello.services/images/mini-trello-icon.png) [#52: Update data/variable dropdowns to select elements](https://trello.com/c/eZEfDZ1A/94-52-update-data-variable-dropdowns-to-select-elements)

[2020-05-13 10:41] ariisrael commented on #51
![](https://github.trello.services/images/mini-trello-icon.png) [#51: Colors appear lighter on map then legend](https://trello.com/c/Yj5q8xUe/95-51-colors-appear-lighter-on-map-then-legend)

[2020-05-13 10:41] ariisrael commented on #48
![](https://github.trello.services/images/mini-trello-icon.png) [#48: Add Search bar](https://trello.com/c/n0V3eLqt/96-48-add-search-bar)

[2020-05-13 10:41] ariisrael commented on #43
![](https://github.trello.services/images/mini-trello-icon.png) [#43: Automated data flows](https://trello.com/c/DnCXt74b/97-43-automated-data-flows)

[2020-05-13 10:41] ariisrael commented on #37
![](https://github.trello.services/images/mini-trello-icon.png) [#37: User Session for Map w/ Reset as optional, not default](https://trello.com/c/98rXrr9v/98-37-user-session-for-map-w-reset-as-optional-not-default)

[2020-05-13 10:42] ariisrael commented on #34
![](https://github.trello.services/images/mini-trello-icon.png) [#34: Time Label](https://trello.com/c/j3bRagGL/99-34-time-label)

[2020-05-13 10:42] ariisrael commented on #33
![](https://github.trello.services/images/mini-trello-icon.png) [#33: Join DesCartes Lab Mobility data for visualization](https://trello.com/c/fyw2O9rn/100-33-join-descartes-lab-mobility-data-for-visualization)

[2020-05-13 10:42] ariisrael commented on #31
![](https://github.trello.services/images/mini-trello-icon.png) [#31: Add baseline-forecast model for counties](https://trello.com/c/WTqHsggH/101-31-add-baseline-forecast-model-for-counties)

[2020-05-13 10:42] ariisrael commented on #30
![](https://github.trello.services/images/mini-trello-icon.png) [#30: Add label layer above geo layer](https://trello.com/c/AZvmyY5p/102-30-add-label-layer-above-geo-layer)

[2020-05-19 15:17] linqinyu opened #64 "1P3A token stop working"
1P3A token stops working, from 0519 (update 0518's data)

[2020-05-19 16:44] linqinyu commented on #64
resolved!

[2020-05-19 16:44] #64 closed

[2020-06-02 03:48] rbrtmrtn commented on #30
Hello @lixun910! Glad to be working on this issue together this week :)

I wanted to touch base here to see what your thoughts were on rendering map labels above the visualization layers. I'm familiar with this MapboxGL recipe for adding a layer below the labels layer:

https://docs.mapbox.com/mapbox-gl-js/example/geojson-layer-in-stack/

...however, since Deck.gl seems to render a WebGL canvas _o

[2020-06-02 03:59] rbrtmrtn commented on #48
Hello @lixun910! Happy to be working on this together this week. Based on @Makosak's comment above, it sounds like we've chosen Mapbox as a geocoding/search provider. I can get started on adding the search control, which is usually not hard to add to a typical MapboxGL instance. The only decision point here is that it's normally added to one of the four corners of the map, which are currently occu

[2020-06-02 04:08] Makosak commented on #48
It doesn't have to be Mapbox -- this was just the comment after we had a meeting about it earlier that the group decided to use Mapbox. Editing the comment, whatever technology works is fine.

[2020-06-02 04:09] rbrtmrtn commented on #48
I think Mapbox is a great choice! Happy to stick with that direction, thanks @Makosak!

[2020-06-02 04:24] lixun910 commented on #48
I am working on other things now and will work on this later this week. FYI: the old code has some functions to render labels for LISA clusters by following the example here: https://deck.gl/gallery/text-layer

[2020-06-02 04:26] rbrtmrtn commented on #48
Thank you @lixun910, this is the geocoding issue but I'll go ahead and follow up with you re: labels on the label issue (#30)!

[2020-06-02 04:34] rbrtmrtn commented on #30
Hello again @lixun910!

Thank you for the suggestion to take a look at this Deck.gl label rendering example: https://deck.gl/gallery/text-layer

I noticed that example requires a JSON file of map labels. Personally, I'm not familiar with any JSON sets of administrative labels that would fit this spec 🤔  If you have any suggestions I'm happy to experiment.

Normally I would rely on the labels that

[2020-06-02 04:41] lixun910 commented on #48
For mapbox, there is an interface/handle for mapbox via deck.gl (check the code re. zoom button, which is actually mapbox navigation controller). Keep in mind that the underneath basemap is still mapbox, deck.gl is a higher-level library that is designed to work with other basemaps as well.

[2020-06-02 04:58] rbrtmrtn commented on #48
Thanks @lixun910, once again I will follow up on the labels issue (#30)!

[2020-06-02 05:16] lixun910 commented on #30
Yes, it ‘a worth a quick try!

[2020-06-02 05:53] rbrtmrtn commented on #48
Hey @lixun910, just wanted to follow up that I have a draft of the Atlas with the search bar added. It's pushed up here on the `search` branch. There's also a live demo here:

https://5ed5e810ec7ef970f277e47c--covid-atlas-alpha.netlify.app/map.html

Note that there's a bug where the first time you search it will take you to the correct location, but quickly pan to somewhere near Santa Fe, NM (for

[2020-06-02 06:39] rbrtmrtn commented on #30
I'm using this documentation

https://github.com/visgl/deck.gl/blob/master/docs/layers/tile-layer.md

to add a `TileLayer` (with an embedded `BitmapLayer`) to the top of the map stack with the Carto map labels. I've followed the instructions closely (as far as I can tell) and am getting this error:

[code]

This is my code:

[code]

I'm not sure what's going wrong. I've Googled this without any re

[2020-06-03 21:10] rbrtmrtn opened #89 "Map zooms unexpectedly on window resize"
## Steps to reproduce:

1. Open the Atlas (I'm on Chrome 83.0.4103.61/macOS 10.15.3)
2. Resize the window
3. It zooms in and recenters itself over a point on the outskirts of Santa Fe, NM.

Note that this is blocking #48 (/cc @lixun910)

[2020-06-03 22:40] #89 closed

[2020-06-03 23:07] rbrtmrtn commented on #48
I was able to fix the bug where the map would zoom to the wrong location on search (see #89, #90). I was hoping this would unblock the search bar work without having to take on the bigger task of swapping out Deck entirely, however I'm now running into an issue where the map zooms correctly on search but Deck.gl doesn't repaint the data viz layer; for example this is what happens when I search for

[2020-06-19 03:09] #53 closed

[2020-06-19 03:10] Makosak commented on #40
In progress -- to be updated by July 6th.

[2020-06-19 03:10] #40 closed

[2020-06-19 03:11] Makosak commented on #21
Incorporated in redesign efforts and long-term plan.

[2020-06-19 03:11] #21 closed

[2020-06-19 03:11] #34 closed

[2020-06-19 03:11] #25 closed

[2020-06-19 03:11] #30 closed

[2020-06-19 03:12] #32 closed

[2020-06-19 03:12] #33 closed

[2020-06-19 03:12] #48 closed

[2020-06-19 03:12] #37 closed

[2020-06-19 03:13] Makosak commented on #43
IP, completion date : June 26th projection

[2020-06-19 03:13] #43 closed

[2020-06-19 03:13] #51 closed

[2020-06-19 03:13] Makosak commented on #59
Postponed

[2020-06-19 03:13] #59 closed

[2020-06-19 03:14] Makosak commented on #52
postponed

[2020-06-19 03:14] #52 closed

[2020-06-19 03:14] Makosak commented on #19
postponed

[2020-06-19 03:14] #19 closed

[2020-06-19 03:14] #31 closed

[2020-06-19 03:14] Makosak commented on #62
integrated in update plan

[2020-06-19 03:15] #62 closed

[2020-06-30 02:14] #15 closed

[2020-07-05 17:19] AmEmKen opened #166 "Consistent color scale"
Time series maps are difficult to interpret because the color scale differs from day to day. Please create a static scale option. Thank you!

[2020-08-22 13:55] lanselin opened #224 "state characteristics?"
There seems to be a problem updating the characteristics pop up window when using
a state map after the county map.

Use case:
- check the county map, focus on a given county, say Cook, and bring up the county characteristics
- switch to state map, click on a state, say Illinois, characteristics remain for the last county and do
   not update to the state, or clear

[2020-11-12 01:49] nofurtherinformation commented on #224
A fix for this is currently lined up for the November release -- will follow up here when we merge and push live!

[2020-11-12 01:50] nofurtherinformation commented on #166
By default, the color scale now sticks based on the first day you load in -- the option to get dynamic bins is still available under choropleth map type options.

[2020-11-12 01:50] #166 closed

[2020-11-18 02:18] nofurtherinformation commented on #224
This fix is now live with the November release! State data are now available in the data side panel.

[2020-11-18 02:18] #224 closed

[2021-01-21 16:49] nofurtherinformation commented on #36
This feature is now live on the new release of the Atlas! You can now click the linear scale/log scale switch on the line chart panel to swap between Y-axis scales.

![image](https://user-images.githubusercontent.com/10041771/105382877-28c41480-5bd6-11eb-97e5-2bc2fde5dc73.png)

[2021-01-21 16:49] #36 closed

[2021-01-21 16:50] nofurtherinformation commented on #55
New York Times state and county data has been added the Atlas in the new release. You can now selected New York Times in the variables panel on the left hand side of the page for relevant variables!

![image](https://user-images.githubusercontent.com/10041771/105383131-6628a200-5bd6-11eb-9b9e-8045de62f352.png)

[2021-01-21 16:50] #55 closed

[2021-01-21 16:52] nofurtherinformation commented on #23
The new release of the Atlas refactors into React, and we have implemented ReCharts as our library of choice (for now). New figures include a more interactive line chart and two-week historical trend lines in the data report panel on the right for cases, deaths, and testing. Thanks @RandomFractals for your suggestions here!

![image](https://user-images.githubusercontent.com/10041771/105383343-a2f

[2021-01-21 16:52] #23 closed

[2021-02-05 16:14] nofurtherinformation opened #238 "Reference Line on Bar Chart Not Showing for NYT"

[2021-07-23 22:54] jinfei1125 opened #265 "Website: Drop down menu of data source didn't show correctly"
On the website, for some data types such as Mobility, the only available data source is SafeGraph, but it still shows CDC.
![image](https://user-images.githubusercontent.com/72103935/126848581-cbd0a53b-b79e-4594-be70-8ff164447076.png)

[2021-07-23 23:21] jinfei1125 opened #266 "Forecasting of COVID confirmed cases has stopped since June, 2020"
Probably the Yu Group's data API has changed?

![image](https://user-images.githubusercontent.com/72103935/126848851-94b3f4c9-f29f-49a2-a083-ca3cffc327e1.png)

[2021-07-23 23:26] jinfei1125 opened #267 "Mobility data stops updating since April 9"
Is this because the "end" of COVID?

![image](https://user-images.githubusercontent.com/72103935/126849964-5f78aba1-d87a-4c2a-8fe2-f4bfb4523b6e.png)

[2021-07-23 23:28] jinfei1125 opened #268 "Should we update Geographic Boundaries in `data-doc` folder?"
It looks like something should be added here:
![image](https://user-images.githubusercontent.com/72103935/126850035-13edbd64-bc8d-4387-b117-0b917cc085a9.png)

[2021-07-23 23:33] jinfei1125 opened #269 "Write running data-scripts todo for windows"
In the setup section, the part for windows is still to do. I can write an instruction to run it on WSL on a windows machine since I am using it, though it's actually a Linux system.

![image](https://user-images.githubusercontent.com/72103935/126850112-1dcf6c75-9140-42d0-bbf7-4391fc4ed40f.png)

[2021-07-23 23:51] jinfei1125 opened #270 "Typo on API Page and API acess"
I found there is a small typo in the Python example on the API page--it's not a big bug at all. But I feel it's still better to correct it. Also, I filled the Google Form to register for API access twice, but nobody responds me. Who's giving permission of API to new users?

By the way, since we have been changing the API to a database solution, maybe we can change this page later with BigQuery exa

[2021-07-26 18:59] nofurtherinformation commented on #265
Thank you for tagging this!

This issue was caused by tabular data being attributed to different geojson boundaries, and has been updated to correctly identify the dataset provider in the select menu when the base geojson and tabular data providers are not the same.

[2021-07-26 18:59] #265 closed

[2021-07-26 19:01] nofurtherinformation commented on #267
Thank you for noting this!

As of now, the Safegraph Social Distance metrics stop at this date. Future mobility data could use different metrics, but as of now we haven't found any metrics that 1) cover the whole country and 2) synthesize mobility patterns into a single, concise metric.

I'll leave this open for now in case anyone has suggestions of datasets that fit the bill!

[2021-08-30 21:09] nofurtherinformation commented on #266
This data has been removed.

[2021-08-30 21:09] #266 closed

[2022-03-29 17:27] spaykin opened #283 "Update readme with current info"
- Update readme with current site info, content, about
- Work with @nofurtherinformation on tech infrastructure updated content
- Timeline: Apr/May